.sojourn_Card-link {
  color: inherit;
}
.sojourn_Card-link:hover {
  text-decoration: none;
}

.sojourn_Card-container {
  position: relative;

  display: flex;
  flex-direction: column;

  gap: 1rem;
  margin-bottom: 1rem;

  background: rgba(0, 0, 0, 0.2);
  border-radius: 8px;

  overflow: hidden;
}

.sojourn_Card-container-has-image:before {
  content: '';
  display: block;
  position: absolute;
  width: 100%;
  height: 100%;
  z-index: -1;
  background: linear-gradient(to bottom, rgba(0, 0, 0, 0) 50%, rgba(0, 0, 0, 0.5));
}

/* .sojourn_Card-container:after { */
/*   content: ''; */
/*   display: block; */
/*   height: 0; */
/*   padding-bottom: 60%; */
/* } */

.sojourn_Card-image {
  position: absolute;
  width: 100%;
  height: 100%;
  object-fit: cover;
  z-index: -2;
  transition: transform 0.3s linear;
}

.sojourn_Card-link:hover .sojourn_Card-image {
  transform: scale(1.05);
}

.sojourn_Card-container-has-image .sojourn_Card-title:before {
  content: '';
  display: block;
  height: 0;
  padding-top: 30%;
}

.sojourn_Card-title {
  text-align: center;
  padding-top: 4rem;
}

.sojourn_Card-location {
  margin: 0;
  font-size: 2.5rem;
  line-height: 2rem;
}

.sojourn_Card-region,
.sojourn_Card-country {
  display: inline-block;

  margin: 0;

  height: 3rem;
  line-height: 3rem;

  font-size: 1.3rem;
  letter-spacing: 0.05rem;
  text-transform: uppercase;
  text-align: center;
  font-weight: 200;
}
.sojourn_Card-region + .sojourn_Card-country:before {
  content: ', '
}

.sojourn_Card-details {
  justify-content: space-between;
  flex-wrap: wrap;
  padding: 1rem;

  display: flex;
  gap: 1rem;

  height: 1rem;
  line-height: 1rem;
  text-transform: uppercase;

  color: rgba(255, 255, 255, 0.6);
  font-size: 1rem;
}

.sojourn_Card-datetime {
  margin: 0;
  white-space: nowrap;
}
.sojourn_Card-nights:before {
  content: ' • '
}

.sojourn_Summary-container {
  display: flex;
  margin-top: -1rem;
  justify-content: flex-end;
  margin-right: 1rem;
}
.sojourn_Summary-image {
  border-radius: 32px;
  margin-right: -16px;
  border: 2px solid #fff;
  box-shadow: 0 2px 3px rgba(0, 0, 0, 0.5);
  transition: margin  0.3s ease-in-out;
}



.sojourn_UpcomingSojournList-container {
  background: rgba(0, 0, 0, 0.2);
  border-radius: 4px;
  margin-bottom: 1rem;
}
.sojourn_UpcomingSojournList-title {
  text-align: center;
  padding: 1rem;
}
.sojourn_UpcomingSojournList-container .sojourn_Card-container {
  background: none;
  flex-direction: row-reverse;
  margin-bottom: 0;
  border-radius: 0;
  padding: 0 1rem;
}
.sojourn_UpcomingSojournList-container .sojourn_Card-container + .sojourn_Card-container {
  border-top: 1px solid rgba(255, 255, 255, 0.1);
}
.sojourn_UpcomingSojournList-container .sojourn_Card-title {
  width: 100%;
  padding: 0;
  display: flex;
  justify-content: space-between;
}
.sojourn_UpcomingSojournList-container .sojourn_Card-location {
  font-size: 1.2rem;
  line-height: 3rem;
}
.sojourn_UpcomingSojournList-container .sojourn_Card-region {
  display: none;
}
.sojourn_UpcomingSojournList-container .sojourn_Card-country {
  font-size: 1rem;
}
.sojourn_UpcomingSojournList-container .sojourn_Card-country:before {
  display: none;
}
.sojourn_UpcomingSojournList-container .sojourn_Card-details {
  padding-left: 0;
  padding-right: 0;
}
.sojourn_UpcomingSojournList-container .sojourn_Card-arriveAt {
  /* display: none; */
}
.sojourn_UpcomingSojournList-container .sojourn_Card-container .sojourn_Card-nights {
  display: none;
}
.sojourn_UpcomingSojournList-container .sojourn_Summary-container {
  display: none;
}

