---
import cc from "classcat";

type Props = {
  children: any;
  fullWidth?: boolean;
};

const { fullWidth } = Astro.props;
---

<div class={cc({ container: true, fullWidth })}>
  <slot />
</div>
<style>
  .fullWidth {
    position: relative;
    left: 50%;
    right: 50%;
    width: 98vw;
    margin-left: -49vw;
    margin-right: -49vw;
  }
</style>
