.bit_StarReview-main {
  height: 30px;
  display: flex;
  opacity: 0.5;
}

.bit_StarReview-star {
  width: 30px;
  background-repeat: no-repeat;
  background-size: contain;
}

.bit_StarReview-star-half {
  width: 30px;
  background-repeat: no-repeat;
  background-size: contain;
}

.bit_CircularIcon-main {
  width: 4rem;
  height: 4rem;
  background-color: rgba(255, 255, 255, 0.3);
  border-radius: 100%;
  display: flex;
  justify-content: center;
  align-items: center;
}

.bit_CircularIcon-icon {
  width: 75%;
  height: 75%;
}

/* Big Text */

.bit_BigText-container {
  height: 100%;
  max-width: 100%;
  margin: 0 auto;

  line-height: 1;
  font-family: 'Mrs Sheppards', cursive;
  font-weight: 400;
  text-shadow: 0 5px 100px rgba(0, 0, 0, 0.2);

  display: flex;
  align-items: center;
  justify-content: center;
}

.bit_BigText-inner {
  display: inline-block;
}

.bit_ErrorMessage-container {
  white-space: pre-wrap;
  max-width: 80rem;
}
