---
type Props = {
  value: string
  description: string
}

const { value, description } = Astro.props

---

<p class='details'>
  <span class='value'>{value}</span>
  <span class='description'>{description}</span>
</p>
<style>
.details {
  padding: 0 1rem;
}

.details + .details {
  border-left: 1px solid rgba(255, 255, 255, 0.2);
}

.value {
  font-weight: 200;
  font-size: 1.5rem;
  display: block;
}

.description {
  text-transform: uppercase;
}
</style>
