.video_Video-container {
  position: relative;
  margin-bottom: 8px;

  left: 50%;
  right: 50%;
  width: 98vw;
  margin-left: -49vw;
  margin-right: -49vw;
}

.video {
  width: 100%;
  height: auto;
  vertical-align: middle;
  border-radius: 4px;
}

.video_YouTubeVideo-container {
  position: relative;
  width: 100%;
  height: 0;
  padding-bottom: 56.25%; 
  margin-bottom: 8px;
  border-radius: 4px;
  overflow: hidden;
}

.video_YouTubeVideo-container  iframe {
  position: absolute;
  width: 100%;
  height: 100%;
  left: 0;
  top: 0;
}
