.accomodation_Accomodation-container {
  margin: 10px auto;
  background: rgba(0, 0, 0, 0.3);
  border-radius: 8px;

  padding: 1rem;
}

.accomodation_Accomodation-row {
  display: flex;
}

.accomodation_Accomodation-star {
  flex: 1;
}

.accomodation_Accomodation-details {
  padding: 0 1rem;
}

.accomodation_Accomodation-details + .accomodation_Accomodation-details {
  border-left: 1px solid rgba(255, 255, 255, 0.2);
}

.accomodation_Accomodation-details-value {
  font-weight: 200;
  font-size: 1.5rem;
  display: block;
}

.accomodation_Accomodation-details-description {
  text-transform: uppercase;
}

.accomodation_Accomodation-icon {
  margin: 1rem auto;
}

.accomodation_Accomodation-title {
  font-size: 2rem;
}

.accomodation_Accomodation-link {
  border: 1px solid rgba(255, 255, 255, 0.5);
  border-radius: 4px;
  height: 2rem;
  line-height: 2rem;
  padding: 0 2rem;
  display: inline-block;
  margin: 1rem 0;
  color: #fff;
}
.accomodation_Accomodation-link:hover {
  text-decoration: none;
  background: rgba(255, 255, 255, 0.1);
}

.accomodation_Accomodation-photos {
}
