.map_Map-container {
  position: relative;
}

.map_Map-image {
}

.map_Map-lines {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
}

.map_Map-point {
  position: absolute;
}

.map_Map-label {
  position: relative;
  z-index: 1;
  display: block;
  color: #fff;
  background: rgba(0, 0, 0, 0.4);
  border-radius: 4px;
  padding: 4px 10px;
  margin-top: -28px;
}

.map_Map-point:before {
  content: '';
  display: block;
  position: absolute;
  z-index: 2;
  width: 10px;
  height: 10px;
  margin-top: -5px;
  margin-left: -5px;
  background: #ff4d4d;
  border-radius: 50%;
  animation: pulse 1.0s alternate infinite running;
}
.map_Map-point-start:before {
  background: rgba(113, 88, 226, 0.9);
  animation: none;
}

@keyframes pulse {
  0% {
    transform: scale(.7);
  }

  100% {
    transform: scale(1.5);
  }
}

.map_Map-zimg-container {
  overflow: hidden;
  position: relative;
  border-radius: 8px;
  margin-bottom: 8px;
}

.map_Map-zimg-portal {
  position: absolute;
}

.map_SVGLine-container {
  stroke-dasharray: 1000;
  stroke-dashoffset: 1000;
  pointer-events: none;
}

.map_SVGLine-path {
  fill: transparent;
  stroke: rgba(255, 255, 255, 0.7);
  stroke-width: 2;
  animation: map_SVGLine-path-animation 10s linear forwards 1;
  stroke-linecap: round;
}

@keyframes map_SVGLine-path-animation {
  to {
    stroke-dashoffset: 0;
  }
}
