.location_Location-container {
  flex: 1;
  position: relative;
  background-color: rgba(0, 0, 0, 0.5);

  border-radius: 4px;
  overflow: hidden;
}

.page_Page-container article > .location_Location-container {
  left: 50%;
  right: 50%;
  width: 98vw;
  margin-left: -49vw;
  margin-right: -49vw;
}

.location_Location-image {
  position: absolute;
  width: 100%;
  height: 100%;
  object-fit: cover;
}

.location_Location-inner {
  position: absolute; 
  top: 0; 
  left: 0; 
  width: 100%; 
  height: 100%;

  background: linear-gradient(to bottom, rgba(0, 0, 0, 0), rgba(0, 0, 0, 0) 30%, rgba(0, 0, 0, 0.9));

  display: flex;
  flex-direction: column;
}

.location_Location-details {
  justify-content: space-between;
  flex-wrap: wrap;
  min-height: 60px;
  padding: 1rem;

  display: flex;
  gap: 1rem;
}

.location_Location-location {
  flex: 1;
  text-align: center;
  border-bottom: 1px solid rgba(255, 255, 255, 0.1);
  overflow-x: hidden;
}

.location_Location-country {
  margin: 0;
  height: 3rem;
  line-height: 3rem;
}

.location_Location-arriveAt {
  margin: 0;
  display: block;
  height: 3rem;
  line-height: 3rem;
}

.location_Location-days {
}

.location_Location-link {
  height: 3rem;
  line-height: 3rem;
  margin: 0;

  color: inherit;
  text-decoration: none;

  padding: 0 1em;
  background: rgba(255, 255, 255, 0.1);
  box-shadow: 0 1px 0 rgba(0, 0, 0, 0.5);
  border-radius: 4px;
}

.location_Location-link:hover {
  text-decoration: none;
  background: rgba(255, 255, 255, 0.3);
}
