.image_Image-main {
  position: relative;
  margin-bottom: 8px;
}

.image_Image-link {
  display: block;
  background: rgba(255,255,255,0.1);

  border-radius: 4px;
  overflow: hidden;

  image-rendering: pixelated;
  background-size: cover;
}

.image_Image-img {
  width: 100%;
  height: auto;
  vertical-align: middle;
  background-size: cover;

  transition: opacity 0.3s ease-in;
}
.image_Image-main-isLoading .image_Image-img {
  opacity: 0;
}

.image_Image-placeholder {
  position: absolute;
  width: 100%;
  height: auto;
  vertical-align: middle;

  /* filter: blur(20px); */

  top: 0;
  left: 0;
  z-index: -1;
  background-size: cover;

  display: 1;
  transition: opacity 1s ease-in;
}

.image_Image-caption {
  text-align: center;
  padding: 0.8rem 0 1rem;
  font-style: italic;
  line-height: 1.5;
}
