/******************************************************************************/
/* PAGE */
/******************************************************************************/

.page_Page-container {
  max-width: 42rem;
  margin: 0 auto;
}

/******************************************************************************/
/* ROW */
/******************************************************************************/

.page_Row-main {
  position: relative;
  left: 50%;
  right: 50%;
  width: 98vw;
  margin-left: -49vw;
  margin-right: -49vw;

  display: flex;
}

.page_Accomodation-container .page_Row-main,
.page_Place-container .page_Row-main {
  width: 100%;
  position: static;
  margin-left: 0;
  margin-right: 0;
}

.page_Row-main > * {
  margin-right: 8px;
}

/******************************************************************************/
/* Image */
/******************************************************************************/

.page_Image-main {
  position: relative;
  margin-bottom: 8px;
}

.page_Page-container article > .page_Image-full-width {
  left: 50%;
  right: 50%;
  width: 98vw;
  margin-left: -49vw;
  margin-right: -49vw;
}

.page_Image-img {
  width: 100%;
  height: auto;
  vertical-align: middle;
  border-radius: 4px;
}

.page_Image-placeholder {
  position: absolute;
  width: 100%;
  height: auto;
  vertical-align: middle;
  border-radius: 4px;
  top: 0;
  left: 0;
  z-index: -1;
}

/******************************************************************************/
/* MAP */
/******************************************************************************/

.page_Map-image {
  display: block;
}

/******************************************************************************/
/* EXTRACT */
/******************************************************************************/

.page_Extract-container {
  margin: 10px auto;
  background: rgba(0, 0, 0, 0.3);
  border-radius: 8px;

  padding: 1rem;
}

/******************************************************************************/
/* TIP */
/******************************************************************************/

.page_Tip-container {
  margin: 10px auto;
  background: rgba(0, 0, 0, 0.3);
  border-radius: 8px;

  padding: 1rem;
}

/******************************************************************************/
/* PLACE */
/******************************************************************************/

.page_Place-container {
  margin: 10px auto;
  background: rgba(0, 0, 0, 0.3);
  border-radius: 8px;

  padding: 1rem;
  position: relative;
}

/******************************************************************************/
/* ACCOMODATION */
/******************************************************************************/

.page_Accomodation-container {
  margin: 10px auto;
  background: rgba(0, 0, 0, 0.3);
  border-radius: 8px;

  padding: 1rem;
}

.page_Accomodation-row {
  display: flex;
}

.page_Accomodation-star {
  flex: 1;
}

.page_Accomodation-details {
  padding: 0 1rem;
}

.page_Accomodation-details + .page_Accomodation-details {
  border-left: 1px solid rgba(255, 255, 255, 0.2);
}

.page_Accomodation-details-value {
  font-weight: 200;
  font-size: 1.5rem;
  display: block;
}

.page_Accomodation-details-description {
  text-transform: uppercase;
}

.page_Accomodation-icon {
  margin: 1rem auto;
}

.page_Accomodation-title {
  font-size: 2rem;
}

.page_Accomodation-link {
  border: 1px solid rgba(255, 255, 255, 0.5);
  border-radius: 4px;
  height: 2rem;
  line-height: 2rem;
  padding: 0 2rem;
  display: inline-block;
  margin: 1rem 0;
  color: #fff;
}
.page_Accomodation-link:hover {
  text-decoration: none;
  background: rgba(255, 255, 255, 0.1);
}

.page_Accomodation-photos {
}

/******************************************************************************/
/* LOCATION */
/******************************************************************************/

.page_Location-container {
  flex: 1;
  position: relative;
  background-color: rgba(0, 0, 0, 0.5);

  border-radius: 4px;
  overflow: hidden;
}

.page_Page-container article > .page_Location-container {
  left: 50%;
  right: 50%;
  width: 98vw;
  margin-left: -49vw;
  margin-right: -49vw;
}

.page_Location-image {
  position: absolute;
  width: 100%;
  height: 100%;
  object-fit: cover;
}

.page_Location-inner {
  position: absolute; 
  top: 0; 
  left: 0; 
  width: 100%; 
  height: 100%;

  background: linear-gradient(to bottom, rgba(0, 0, 0, 0), rgba(0, 0, 0, 0) 30%, rgba(0, 0, 0, 0.9));

  display: flex;
  flex-direction: column;
}

.page_Location-details {
  justify-content: space-between;
  flex-wrap: wrap;
  min-height: 60px;
  padding: 1rem;

  display: flex;
  gap: 1rem;
}

.page_Location-location {
  flex: 1;
  text-align: center;
  border-bottom: 1px solid rgba(255, 255, 255, 0.1);
  overflow-x: hidden;
}

.page_Location-country {
  margin: 0;
  height: 3rem;
  line-height: 3rem;
}

.page_Location-arriveAt {
  margin: 0;
  display: block;
  height: 3rem;
  line-height: 3rem;
}

.page_Location-days {
}

.page_Location-link {
  height: 3rem;
  line-height: 3rem;
  margin: 0;

  color: inherit;
  text-decoration: none;

  padding: 0 1em;
  background: rgba(255, 255, 255, 0.1);
  box-shadow: 0 1px 0 rgba(0, 0, 0, 0.5);
  border-radius: 4px;
}

.page_Location-link:hover {
  text-decoration: none;
  background: rgba(255, 255, 255, 0.3);
}

/******************************************************************************/
/* TRAVEL */
/******************************************************************************/

.page_Travel-container {
  position: relative;
  margin: 1rem 0;
  padding: 1rem;
  border-top: 8px solid rgba(0, 0, 0, 0.3);
  border-bottom: 8px solid rgba(0, 0, 0, 0.3);
}

.page_Travel-icon {
  display: block;
  width: 3rem;
  margin: 0 auto;
  opacity: 0.6;
}

.page_Travel-text {
  text-align: center;
  font-size: 1.2rem;
  font-weight: 600;
}

.page_Travel-details {
  display: flex;
  justify-content: space-between;
  color: rgba(255, 255, 255, 0.6);
  line-height: 1rem;
}

.page_Travel-date {
  text-transform: uppercase;
  margin: 0;
}

.page_Travel-distance {
  font-variant: small-caps;
  text-align: right;
  margin: 0;
}
