/******************************************************************************/
/* PAGE */
/******************************************************************************/

.page_Page-container {
  max-width: 42rem;
  margin: 0 auto;
}

/******************************************************************************/
/* STYLE */
/******************************************************************************/

.page_Style-fullWidth {
  position: relative;
  left: 50%;
  right: 50%;
  width: 98vw;
  margin-left: -49vw;
  margin-right: -49vw;
}

/******************************************************************************/
/* ROW */
/******************************************************************************/

.page_Row-main {
  display: flex;
}

.accomodation_Accomodation-container .page_Row-main,
.page_Place-container .page_Row-main {
  width: 100%;
  position: static;
  margin-left: 0;
  margin-right: 0;
}

.page_Row-main > * {
  margin-right: 8px;
}

.page_Row-main > *:last-child {
  margin-right: 0;
}

/******************************************************************************/
/* MAP */
/******************************************************************************/

.page_Map-image {
  display: block;
}

/******************************************************************************/
/* EXTRACT */
/******************************************************************************/

.page_Extract-container {
  margin: 10px auto;
  background: rgba(0, 0, 0, 0.3);
  border-radius: 8px;

  padding: 1rem;
}

/******************************************************************************/
/* TIP */
/******************************************************************************/

.page_Tip-container {
  margin: 10px auto;
  background: rgba(0, 0, 0, 0.3);
  border-radius: 8px;

  padding: 1rem;
}

/******************************************************************************/
/* PLACE */
/******************************************************************************/

.page_Place-container {
  margin: 10px auto;
  background: rgba(0, 0, 0, 0.3);
  border-radius: 8px;

  padding: 1rem;
  position: relative;
}


/******************************************************************************/
/* TRAVEL */
/******************************************************************************/

.page_Travel-container {
  position: relative;
  margin: 1rem 0;
  padding: 1rem;
  border-top: 8px solid rgba(0, 0, 0, 0.3);
  border-bottom: 8px solid rgba(0, 0, 0, 0.3);
}

.page_Travel-icon {
  display: block;
  width: 3rem;
  margin: 0 auto;
  opacity: 0.6;
}

.page_Travel-text {
  text-align: center;
  font-size: 1.2rem;
  font-weight: 600;
}

.page_Travel-details {
  display: flex;
  justify-content: space-between;
  color: rgba(255, 255, 255, 0.6);
  line-height: 1rem;
}

.page_Travel-date {
  text-transform: uppercase;
  margin: 0;
}

.page_Travel-distance {
  font-variant: small-caps;
  text-align: right;
  margin: 0;
}
