---
type Props = {
  children: any;
};
---

<h2 class="title">Upcoming</h2>

<div class="container">
  <slot />
</div>

<style>
  .container {
    background: rgba(0, 0, 0, 0.2);
    border-radius: 4px;
    margin-bottom: 1rem;
  }
  .title {
  }
  .container :global(.container) {
    background: none;
    flex-direction: row-reverse;
    margin-bottom: 0;
    border-radius: 0;
    padding: 0 1rem;
  }
  .container :global(.container + .container) {
    border-top: 1px solid rgba(255, 255, 255, 0.1);
  }
  .container :global(.title) {
    width: 100%;
    padding: 0;
    display: flex;
    justify-content: space-between;
  }
  .container :global(.location) {
    font-size: 1.2rem;
    line-height: 3rem;
  }
  .container :global(.region) {
    display: none;
  }
  .container :global(.country) {
    font-size: 1rem;
  }
  .container :global(.country:before) {
    display: none;
  }
  .container :global(.details) {
    padding-left: 0;
    padding-right: 0;
  }
  .container :global(.arriveAt) {
    /* display: none; */
  }
  .container :global(.container .nights) {
    display: none;
  }
  .container :global(.container) {
    /* display: none; */
  }
</style>
